body{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/*shortcut for the above
	font: 15px/1.5 Arial,Helvetica,sans-serif;*/
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;

}

ul{
	margin:0;
	padding: 0;
}

.button-1{
	font-weight: bold;
	height: 25px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 10px;

}

.custom-select{
	position: relative;
	font-family: Arial;
}

.custom-select select{
	border-width: 2px;
	border-color: #fff;
	display: inline;
	float: right;
	padding: 10px;
	text-align: center;
}
.select-selected:after{
	position: absolute;
	content: " ";
	top: 14px;
}


.dark{
	padding: 15px;
	background: #35424a;
	margin-top: 10px;
	color: #fff;
	margin-bottom: 10px;

}

.rooms{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.rooms .form-group{
	padding-bottom: 20px;

}

.rooms label{
	float: left;
	display: block;
	padding-right: 20px;
	font-weight: bold;
	padding-top: 10px;

}

.rooms .form-input{
	float: right;
	padding: 10px;
	border-width: 15px;
	border-style: hidden;
}

/*Header*/
header{
	background: #35424a;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

 header li{
 	float: left;
 	display: inline;
 	padding: 0 20px 0 20px;
 }

 header #branding{
 	float: left;
 }

 header #branding h1{
 	margin: 0;
 }

 header nav{
 	float: right;
 	margin-top: 10px;
 }

 header .highlight, header .current a{
 	color: #e8491d ;
 	font-weight: bold;
 }

 header a:hover{
 	color: #ccc;
 	font-weight: bold;
 }

 /*Showcase*/
 #showcase{
 	min-height: 400px;
 	background:url('../images/conference3.jpg') ;
 	text-align: center;
 	color: #fff;
 }

 #showcase h1{
 	margin-top: 100px;
 	font-size: 55px;
 	margin-bottom: 10px;
 }

 #showcase p{
 	font-size: 20px;
 }

/*Newsletter*/
 #newsletter{
 	padding: 15px;
 	color: #fff;
 	background: #35424a;
 }

 #newsletter h1{
 	float: left;
 }

 #newsletter form{
 	float: right;
 	margin-top: 25px;
 }

 #newsletter input[type="search"]{
 	padding: 4px;
 	height: 25px;
 	width: 200px;
 }


 /*boxes*/

 #boxes{
 	margin-top: 20px;
 }

 #boxes .box{
 	float: left;
 	width: 30%;
 	padding:10px;
 	text-align: center;
 }


 #boxes .box img{
 	width: 90px;
 	height: auto;
 	margin-top: 10px;
 }

/*sidebar*/

aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}



/*article*/

article#main-col{
	float: left;
	width: 65%;
}



 /*footer*/

footer{
	padding: 20px;
	margin-top: 20px;
	color: white;
	background-color: #e8491d;
	text-align: center; 
}
 


